{:en
 {:explorer
  {:not-sub-vigilia "This project isn't configured or subscribed to Vigilia."
   :guess "Why try to guess what happened when you can KNOW it?"
   :record "Record your network now!"
   :learn-more "Learn more!"}}

 :fr
 {:explorer
  {:not-sub-vigilia "Ce projet n'est pas configuré ou inscrit à Vigilia."
   :guess "Pourquoi tenter de deviner ce qui s'est passé, alors que vous pouvez SAVOIR ce qui s'est passé?"
   :record "Enregistrer votre réseau maintenant!"
   :learn-more "En savoir plus!"}}}
