
 * {
    min-height: 0;
    min-width: 0;
}

html {
    height:100%;

}

body {
    height: 100%;
    font-size: 14px;
     }

.navbar-header .navbar-brand {
    color: #3366CC;
}

.navbar-header .navbar-brand:hover {
    color: #3366CC;
}



.summary-detail {
    background-color: rgba(255,153,0,.1);
    padding: 20px;
    border: 1px lightgray solid;
    border-radius: 3px;
    overflow-x: auto;
    }

.summary-detail .separator {
    background-color: rgba(255,153,0,1);
    }


.left-side-navbar-container {
    border: 1px lightgray solid;
    border-radius: 3px;
    background-color: rgba(255,153,0,.05);
}

.left-side-navbar .separator {
    background-color: rgba(255,153,0,1);
    }


.left-side-navbar > .nav-item {
    background-color: rgba(255,153,0,.05);
    border-bottom: 1px rgba(255,153,0,.15) solid;
    margin-top: -1px;
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}

.left-side-navbar > .nav-item:hover {
    background-color: rgba(255,153,0,.15);
    
    }


.left-side-navbar > .nav-item.selected {
    background-color: rgba(255,153,0,.15);
    border-left: 5px rgba(255,153,0,1) solid;
    font-weight: bold;
}

.device-id {
    display: inline-block;
    overflow: hidden;
    transition: max-width 0.5s ease-in-out;
    vertical-align: middle;
    margin-right: 5px;
}

.device-name {
    display: inline-block;
    vertical-align: middle;
}


.device-id.selected {
    border-right: 5px rgba(255,153,0,0.3) solid;
}

    

.left-side-navbar .nav-ids {
    background-color: rgba(255,153,0,0.3);
    padding: 8px;
    display: inline-block;
    }


.unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.selectable {
  -moz-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
}



.flash {
    animation-name: flash-animation;
    animation-duration: 1s;
}

@keyframes flash-animation {  
    from { background: rgba(255,255,0,.30); }
    to   { background: default; }
}

.message {
    position: fixed; 
    top: 20px;
    right: 1em;
    min-width: 10em;
    z-index: 15;}


.controllers .draggable .handle {
    color : rgba(255,153,0,1);
}

.fixed-data-table {
    border-radius: 3px
}

.public_fixedDataTable_bodyRow:hover .public_fixedDataTableCell_main{
    background-color: rgba(255,153,0,0.1);
}

.public_fixedDataTable_main .selected-row .fixedDataTableRowLayout_body > :first-child .public_fixedDataTableCell_main{
    font-weight : bold;
}

.public_fixedDataTable_main .highlight-row .public_fixedDataTableCell_main{
    background-color: rgba(255,153,0,0.15);
    transition: border-left 0.2s ease-in-out;
}

.public_fixedDataTable_main .highlight-row .fixedDataTableRowLayout_body > :first-child .public_fixedDataTableCell_main{
    border-left: 3px solid rgba(255,153,0,1);
}

.public_fixedDataTable_main .highlight-row:hover .public_fixedDataTableCell_main{
    background-color: rgba(255,153,0,0.25);
}
